@charset "utf-8";
/* CSS Document */
#jihuo_info {
	background: #ffffff;
	margin: 0 auto;
	width: 400px;
	overflow: hidden;
}
#jihuo_info .bor {
	width: 100%;
	border-top: 1px solid #f3f3f3;
	margin: 0;
}
#jihuo_info .info {
	width: 368px;
	margin: 0 auto;
	margin-top: 10px;
	background: url(/images/2013/i.jpg) 15px 0 no-repeat;
	font-size: 14px;
	color: #989898;
	padding-top: 10px;
	margin-bottom: 25px;
	padding-left: 80px;
	padding-bottom: 20px;
	line-height: 24px;
}
#jihuo_info p {
	font-size: 14px;
	text-align: center;
}
#jihuo_info .num1, #jihuo_info .num2 {
	text-align: center;
	width: 220px;
	margin: 0 auto;
	padding-bottom: 15px;
}

#jihuo_info .num1 img, #jihuo_info .num2 img {
	display: block;
	float: left;
}
#jihuo_info .num1 {
	line-height: 40px;
	margin-top: 10px;
}
#jihuo_info .num1 img {
	padding-top: 10px;
	padding-right: 25px;
	*padding-right: 10px;
}
#jihuo_info .num2 img {
	padding-right: 10px;
}
#jihuo_info .num2 .fblue {
	font-size: 14px;
}
#jihuo_info .num1 a {
	display: block;
	width: 149px;
	overflow: hidden;
}
#jihuo_info .num2 a {
	display: block;
	overflow: hidden;
	width: 190px;
	height: 22px;
	line-height: 22px;
}

#jihuo_info .fblue {
	font-size: 12px;
	font-family: Arial, Helvetica, sans-serif;
	color: #4095d6;
	text-decoration: none;
}
#jihuo_info .num1 img, #jihuo_info .num2 img {
	display: block;
	height: 20px;
	width: 20px;
}
#jihuo_info .btn {
	display: inline-block;
	width: 146px;
	height: 39px;
	background: #4095d6;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	text-decoration: none;
	color: #ffffff;
}
#jihuo_info .btn img {
	display: inline-block;
}

#jihuo_info .tips_pull {
	display: inline-block;
	width: 20px;
	height: 18px;
	background: url(/images/2013/tips_pull.jpg) 0 1px no-repeat;
	text-decoration: none;
	*line-height: 24px;
}

#jihuo_info .jihuo_tips {
	font-size: 12px;
	color: #a2a2a2;
	padding-top: 5px;
	*padding-top: 20px;
}
#jihuo_info .jihuo_tips .pot {
	display: block;
	float: left;
	font-size: 25px;
	color: #dcdcdc;
	font-style: normal;
	padding-right: 10px;
}
#jihuo_info .jihuo_tips p {
	line-height: 30px;
	text-align: left;
	padding-left: 85px;
}
#jihuo_info .jihuo_tips .content p {
	line-height: 20px;
}
#jihuo_info .jihuo_tips .content {
	display: inliblock;
	width: 100%;
	padding-bottom: 20px;
}
#jihuo_info .jihuo_tips .content p {
	font-size: 12px;
}
